@charset "UTF-8";



*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

#fundo{
 background-color: lightslategray;
 text-align: center;
 height: 100vh;
}

h1{
    padding:1em;
}

p{
    padding:0.5em;
}

img{
    border-radius: 26em;
}